/* src/components/common/LoadingSpinner.module.css */

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #1976d2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
