/* src/pages/RegisterPage/RegisterPage.module.css */

/* Similar to LoginPage.module.css */

.container {
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 20px;
}
