/* src/components/ProjectCard/ProjectCard.module.css */

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    /* Diğer stiller */
}

.title {
    /* Stiller */
}

.description {
    /* Stiller */
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #1976d2;
    font-weight: bold;
}

.buttonGroup {
    display: flex;
}

.editButton {
    background-color: #ffa726;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.editButton:hover {
    opacity: 0.9;
}

.deleteButton {
    background-color: #e57373;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover {
    opacity: 0.9;
}
